/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width:35rem) {
    
   nav ul li {
     
   }

   .days-forecast{   
    display:block;
    }

    .img-center{
        width:400px;
        margin:0 auto;
    }

    article img.article-image {
        width:50%;
        float:right;
        margin: 0 0 5px 5px;
    }
} /*end medium */





