/* large5 css */
/* from small css*/
.container {
     max-width:1000px;
     min-width:360px;
     margin: 0 auto;
     padding:2px;
 // border: solid thin lightgray;
   // background-color:maroon;
 }
 body{
     font-family: Arial, Helvetica, sans-serif;
     color: #4B4B4B;
     margin:0;
     padding:0;
 }
 h1,h2,h3,h4,h5,h6{
     margin:0;
     padding:0;
     text-align:center;
     background-color: #F2F2F2;
 }
 header{
     padding:3px;
     border-bottom: solid thin lightgreen;
 }
 #logo img {
     width:25%;
     margin:2px;
     float:left;
 // border: solid thin cyan;
 }
 #site-name{
     margin:0;
     font-family: 'Roboto Slab', serif;
     font-size:1.5em;
     font-weight: bold;
     padding-left:7%;
     padding-right:5px;
     float:right;
 // border: solid thin violet;
 }
 .motto{
     margin:0;
     font-size:.7rem;
     font-style: italic;
     //display:inline-block;
     float:right;
 }
 .motto p{
     text-align:center;
 }
 .site-name1{
     font-family: 'Roboto Slab', serif;
     color:#4B4B4B;
 }
 .site-name2{
     font-family: 'Roboto Slab', serif;
 color:#83D16B;
 }
 #currentcondition{
     display:none;
 }
 .clear{
     clear:both;
 }
 .responsive-img{
     width:100%;
 }
 nav {
 /* display:block;
     width:100%;
     border:solid thin brown;
     margin:0;
     padding:0;
     */
 }
 ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
 // border:solid thin gray;
     
 }
 ul li{
 
     display:inline-block;
     width:100%;
 
 }
 ul li a{
     display:block;
     text-decoration: none;
     text-align:center;
     padding: 15px 0;
 // border:solid thin yellow;
 
 }
 


 ul li a:hover{
     color: darkgreen;
     background-color:#B0E0A1;
 }
 .active{
     color: darkgreen;
     background-color:#60ADCB;
 }
 .hero-page{
    background: url("../images/hero-image-s.jpg") no-repeat;
    height:100%;
     background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
     position:relative;
     height:350px;
    
 }
 .hero-overlay{
     position:absolute;
     top:10px;
     left:10px;
     border: solid thin magenta;
     width:60%;
     background-color: #83D16B;
     opacity: 0.8;
     filter: alpha(opacity=80); 
 }
 article{
     text-align:justify;
     padding:3px;
     border: dashed thin lightgray;
 }
 article p{
     margin:2px;
     padding:5px;
 }
 .btn-light{
     background-color:#60ADCB;
     -moz-border-radius:28px;
     -webkit-border-radius:28px;
     border-radius:28px;
     display:inline-block;
     font-family:Arial;
     font-size:17px;
     padding:16px 31px;
     text-decoration:none;
     text-shadow:0px 1px 0px #2f6627;
 }
 .btn-light:hover{
 
     background-color:#83D16B;
 }
 footer{
     
     padding:1px;
     text-align:center;
 }
 .small{
     font-size:.9em;
 }
 .copyright{
     padding:2px;
     background-color: #F2F2F2;
 }
 .article-image{
     width:100%;
   
 }

 table{
    // width:30%;
    // margin:20px;
    /* background-color: #83D16B;
     opacity: 0.8;
     filter: alpha(opacity=80); */
 }
 caption{
     font-weight: bold;

 }
 tr,td{
     padding:5px;
     color:yellow;
 }
 td.first-col{
     text-align:right;
     width:45%;
     font-weight: bold;
     color:white;
 }
 .social-icons{
     font-size:2em;
     color:black;
 }
 footer p a{
     list-style: none;
     text-decoration: none;
     color:#4B4B4B !important;
 }




/* begin meqia queries */
@media screen and (min-width:480px){
    .container{
      //  background-color:green;
    }
    #logo img {
        width:100px;
        margin:2px;
        float:left;
    // border: solid thin cyan;
    }
    #site-name{
        font-size:2em;
        font-weight: bold;
        padding-left:7%;
        padding-right:5px;
        float:right;
    // border: solid thin violet;
    }
    .motto{
        margin:0;
        font-size:.7rem;
        font-style: italic;
        //display:inline-block;
        float:right;
    }
    .hero-page{
        height:300px;
        overflow:hidden;
    }
    .hero-overlay{
        width:230px;
    }
   
    


}
@media screen and (min-width:640px){
    .container{
      //  background-color:khaki;
    }
    #logo img {
        width:25%;
        margin:2px;
        float:left;
    // border: solid thin cyan;
    }
    #site-name{
        font-size:2em;
        font-weight: bold;
        padding-left:7%;
        padding-right:5px;
        float:right;
    // border: solid thin violet;
    }
    .motto{
        margin:0;
        font-size:.7rem;
        font-style: italic;
        //display:inline-block;
        float:right;
    }
    .motto p{
        text-align:center;
    }
    
    .article-image{
        width:250px;
        float:right;
        margin:5px;
    }
    .hero-page{
    background: url("../images/hero-image-s.jpg") no-repeat;
    height:100%;
     background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height:300px;
    }
}
@media screen and (min-width:749px){
   header{
       position:relative;
   }
    #logo img {
        width:150px;
        margin:2px;
        float:left;
        margin-right:50px;
    // border: solid thin cyan;
    }
    #site-name{
        width:55%;
        //display: inline-block;
        font-size:2.3em;
        font-weight: bold;
        padding-left:0px;
       // padding-right:5px;
        margin:0 auto;
        float:left;
     //border: solid thin violet;
    }
    
    .motto{
        //width:300px;
      // height:30px;
       //padding;
       // margin-left:97px;
        font-size:1rem;
        font-style: italic;
        display:inline-block;
        float:left;
        
        //border:solid thin blue;
    }
    .motto p{
        text-align:center;
        padding:0;
        margin:0;
        
    }
    #currentcondition{
        display:block;
        position:absolute;
        top:9px;
        right:5px;
        width:150px;
        height:80px;
        border:solid thin #0095AC;
        float:right;
        padding:5px;
    }
    #currentcondition p{
        font-size:.7em;
    }
/*navigaton */
    nav {
        height:50px;
       // border: thin solid red;
    }
   nav ul {
       height:48px;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
      // border:solid thin cyan;
       display:block;
       width:770px;
    }
   
   nav li {
        float: left;
        display:inline;
        width:120px;
    }
    
   nav li a {
        display:block;
        text-align: center;
        //padding: 14px 16px;
        text-decoration: none;
    }
    main {
        //height:400px;
        overflow:hidden;
    }
    
    .hero-page{
      background: url("../images/hero-image-ml.jpg") no-repeat;
        height:100%;
         background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
       height:300px;
        overflow:hidden;
    }
    .hero-image{
        margin-top:-100px;
    }
    .article-image{
        width:300px;
        float:right;
        margin:5px;
    }
    
    .social-icons{
        font-size:2em;
        color:black;
    }
    footer p a{
        list-style: none;
        text-decoration: none;
        color:#4B4B4B !important;
    }
}
@media screen and (min-width:849px){
    #currentcondition{
        width:250px;
    }
}