/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width:35rem) {

  
  /*2nd max-width 600*/
  #topbar{
      margin-top:0px;
      display:block;
      padding:1px 10px;

  }
  #topbar a{
     color:white;
  }



}/*end of media query*/