/* mobile view */
@media only screen and (min-width:360px) {

body{
    font-family: raleway, Helvetica, sans-serif;
}

/*social media icons*/
.social{
    float:right;
}

#titleText{
    margin:0;
    padding:0;
    font-family:playball;
    font-size:3em;
}



}/*end of small media query*/