/* mobile view */
#topbar, #brand, .topnav, main, footer{
    min-width:320px;
}

body{
    font-family: raleway, Helvetica, sans-serif;
    color:#2E2E2E;
}


.clearfix{
    clear:both;
}
main{
    /*margin-top:250px;*/
}
#topbar{
   margin-bottom:8px;
   display:none;
}
/*social media icons*/
.social{
    float:right;
}

#titleText{
    margin:0;
    padding:0;
    font-family:playball;
    font-size:1.9em;
}

#brand{
    margin-top:10px;
    text-align:center;
     line-height: 0.5;
}

.topnav {
    overflow: hidden;
    
   /* background-color: #333;*/
  
  }
  
  .hidden{
      display:none;
  }
  .topnav a {
    float: left;
    display: block;
    color: #2E2E2E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .active {
    background-color: #00ADF1;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #2E2E2E;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #008EC6;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #008EC6;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .img-responsive{
      width:100%;
  }
 

  footer{
    background-color:#243C4F;
    text-align:center;
    color:white;
    padding:15px;
}
#topbar{
    background-color:#243C4F;
    color:white;
}

.slider{
    position:relative;
}
/* overlay*/
.overlay{
    height:10%;
    width:100%;
    margin:0 auto;
    border:thin solid cyan;
    position:absolute;
   bottom:0px;
   
    
}
.btn {
   position: absolute;
   right:45%;
   bottom:10%;
   border-radius: 15px;
   padding:12px;
}